{% extends "gci2013/index.html" %}

{% block content %}
<h1>Hi!</h1>
This website has been made by Sai Vineet.
Idea from Puck Meerburg, and information is sourced from the official Google Melange website.
Contributors: Ignacio Rodriguez and Sam Parkinson.
<br>
This website is open source. <a href="https://github.com/ignaciouy/GCILeaderboard">Hack away</a>.
<br>
<br>
Built with Flask, requests, and love.
This Leaderboard may encourage unhealthy competition. <br>
It makes people focus on things like how easy tasks are. <br>
How much time is being taken for reviews,etc. <br>
Not the quality of the work involved. <br>
I'm saying this because I've done it myself. <br>
Committed not substandard code, but code which could've been better - because I wanted to finish and move on quickly.
<br><br>
- Aviral Dasgupta. Two time GCI winner. <br>

Please take the above in mind while looking at this leaderboard. Don't think
just because you're fifth on your org. list, you'll lose. Focus on the quality
instead of quantity.

{% endblock %}
