<!doctype html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>
    {% block title %}
        Home
    {% endblock %} - Google Code-In Leaderboard
    </title>
    <script>
    /*if (window.location.protocol != "https:")
          window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);*/
    </script>

    <meta name="Robots" content="follow, index" />
    <meta name="Description" content="{% block desc %}Visit this website and check Google Code-In 2013 unofficial leaderboard!{% endblock %}" />
    <meta name="Keywords" content="gci, google code-in, leaderboard, fossasia, kde, drupal, mifos, copyleft games, brlcad, aperitum, haiku, openmrs, sugar, wikimedia, sahana eden" />

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.4.1/canvas.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" id="font-awesome-css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">
    <style>
    #content {
        margin:5% 7% 2%;}


    .back-to-top {
        position: fixed;
        bottom: 2em;
        right: 0px;
        text-decoration: none;
        padding: 1em;
        display: none;
    }
    </style>
    <script type="text/javascript">
    $(document).ready(function(){
    //Click event to scroll to top
    $('.back-to-top').click(function(){
        $('html, body').animate({scrollTop : 0}, 800);
        return false;
    });

    });

    var offset = 300;
    var duration = 800;
    jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > offset) {
            jQuery('.back-to-top').fadeIn(duration);
        } else {
            jQuery('.back-to-top').fadeOut(duration);
        }
    });

    {% block student_chart %}

    {% endblock %}
    </script>
</head>
<body style="background-color:#F8F8F8">
    <!-- <a href="https://github.com/ignaciouy/GCILeaderboard"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 1040" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a> -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li role="presentation"><a href="/gci2013" >Home</a></li>
            <li role="presentation"><a href="{{ url_for('allorgs', year='gci2013') }}">All</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='apertium', year='gci2013') }}">Apertium</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='brlcad', year='gci2013') }}">BRL-CAD</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='copyleftgames', year='gci2013') }}">Copyleft Games</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='drupal', year='gci2013') }}">Drupal</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='haiku', year='gci2013') }}">Haiku</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='kde', year='gci2013') }}">KDE</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='rtems', year='gci2013') }}">RTEMS Project</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='sahana', year='gci2013') }}">Sahana Eden</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='sugarlabs2013', year='gci2013') }}">Sugar Labs</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='wikimedia', year='gci2013') }}">Wikimedia</a></li>
            <li role="presentation"><a href="/gci2014">GCI 2014 Leaderboard</a></li>
        </ul>
    </nav>
    <a href="#" class="back-to-top"><img src="{{ url_for('static', filename='scroll.png') }}" style="width:3em;"></a>
        <div id='content'>
    {% block content %}
        <h1>Hi!</h1>
        This website is a per organization unofficial leaderboard for Google Code-In 2013. Click on your organization above.
        <br>
        Enjoy!
        <hr/>
        <i>Code available on GPLv3 license. Feel free to <a href="https://github.com/ignaciouy/GCILeaderboard">fork it</a>!</i><br/>
    {% endblock %}
    </div>
    {% if request.path != "/" %}
    <footer style="margin: 2% 5%; font-size: 12px;" >
    <br/>
    <hr/>
    Created with love for Google Code-In
    <div style="float: right">
    {% if request.path == '/error' %}
    <br>
    404.html template from <a href='https://github.com/poxip/yagcil'>poxip gcil</a>
    {% endif %}
    <br>
    <a href="https://sugarlabs.org">Hosted by <img alt="Sugar Labs" src="/static/sl_logo.svg" height="32px"/></a>
    </div>
    <br/>
    Code available on GPLv3 License
    <br/>
    <a target="_blank" href="https://github.com/ignaciouy/GCILeaderboard/issues/new" title="Create new issue report">Create issue report</a>
    </footer>
    {% endif %}
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58197410-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
