{% extends "index.html" %}

<link rel="stylesheet" type="text/css" href="/static/css/demo.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/icons.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/component.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/sb-admin.css" />

{% block content %}
<body>
<center>
<header class="codrops-header">
    <h1>Error 404<span>Sorry, but this page doesn't exist...<b>Yet.</b></span></h1>
</header>
<img src="//i.imgur.com/ih4zlJv.png"/><br><br>
<button type="button" onclick="window.history.back();" class="btn btn-info">Go back</button>
</center>
</body>
{% endblock %}