{% extends "index.html" %}

{% block title %}{{ org }}'s ranking{% endblock %}

{% block desc %}See {{ org }}'s ranking on Google Code-In Leaderboard{% endblock %}

{% block student_chart %}
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {

    var data = google.visualization.arrayToDataTable([
    ['', ''],
    {% for tup in totalorgs %}
        ["{{ tup[1][0] }}", {{ tup[1][1] }}],
    {% endfor %}
    ]);

    var options = {
        is3D: false,
        backgroundColor: '#F8F8F8',
    };

    var chart = new google.visualization.PieChart(document.getElementById('TasksChart'));

    chart.draw(data, options);
}
{% endblock %}

{% block content %}
<div class="page-header" >
    <h1>Leaderboard for {{ org }}<br><small>{{ students }} students has finished {{ total }} tasks.</small></h1>
</div>

{% if updating %}
<div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Updating:</span> Updating task list.. <small>Refresh this page in few minutes.</small>
</div>
{% endif %}

{% if not updating %}
<button type="button" class="btn btn-default">
    <a href="/update/org/all" style="text-decoration: none;">Update</a>
</button>
{% endif %}

<div id="TasksChart" style="height: 500px; width: 100%;"></div>
<ol data-role="listview">
{% for tup in leaderboard %}
        <li><a title="See profile of {{ tup[0] }} in {{ org }}" href="{{ url_for('student', name=tup[0]) }}">{{ tup[0] }} has finished {{ tup[1] }} tasks in {{ org }}</a></li>
{% endfor %}
</ol>
{% endblock %}
