<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}
        Unofficial Leaderboard for Google Code In
    {% endblock %}
    </title>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.4.1/canvas.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style>
    #content{margin:5% 10%;}
    </style>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="{{ url_for('allorgs') }}">All</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='apertium') }}">Apertium</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='brlcad') }}">BRL-CAD</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='copyleftgames') }}">Copyleft Games</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='drupal') }}">Drupal</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='fossasia') }}">FOSS Asia</a>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='haiku') }}">Haiku</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='kde') }}">KDE</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='mifos') }}">Mifos</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='openmrs') }}">OpenMRS</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='sahana') }}">Sahana Eden</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='sugarlabs') }}">Sugar Labs</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='wikimedia') }}">Wikimedia</a></li>
            <li role="presentation"><a href="https://github.com/ignaciouy/GCILeaderboard">About</a></li>
    </ul>
    </nav>
</div>
    <div id='content'>
    {% block content %}
        <h1>Hi!</h1>
        This website is a per organization leaderboard for Google Code In 2014. Click on your organization above.
        <br>
        Enjoy!
    {% endblock %}
    </div>
</body>
</html>
