<!doctype html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>
    {% block title %}
        Home
    {% endblock %} - Google Code-In Leaderboard
    </title>

    <meta name="Robots" content="follow, index" />
    <meta name="Description" content="{% block desc %}Visit this website and check Google Code-In 2014 unofficial leaderboard!{% endblock %}" />
    <meta name="Keywords" content="gci, google code-in, leaderboard, fossasia, kde, drupal, mifos, copyleft games, brlcad, aperitum, haiku, openmrs, sugar, wikimedia, sahana eden" />

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.4.1/canvas.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style>
    #content{margin:5% 7%;}
    @media (max-width: 1400px){
        #content{margin:10% 7%;}
        }
    @media (max-width: 1280px){
        #content{margin:15% 7%;}
        }

    </style>
    <script type="text/javascript">
    $(document).ready(function(){

	//Click event to scroll to top
	$('.scrollUpButton').click(function(){
		$('html, body').animate({scrollTop : 0},800);
		return false;
	});

    });
    {% block student_chart %}

    {% endblock %}
    </script>
</head>
<body style="background-color:#F8F8F8">
    <a href="https://github.com/ignaciouy/GCILeaderboard"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 1040" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <nav class="navbar navbar-default navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="https://github.com/ignaciouy/GCILeaderboard">GitHub</a></li>
            <li role="presentation"><a href="{{ url_for('allorgs') }}">All</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='apertium') }}">Apertium</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='brlcad') }}">BRL-CAD</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='copyleftgames') }}">Copyleft Games</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='drupal') }}">Drupal</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='fossasia') }}">FOSS Asia</a>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='haiku') }}">Haiku</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='kde') }}">KDE</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='mifos') }}">Mifos</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='openmrs') }}">OpenMRS</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='sahana') }}">Sahana Eden</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='sugarlabs') }}">Sugar Labs</a></li>
            <li role="presentation"><a href="{{ url_for('leaderboard', org='wikimedia') }}">Wikimedia</a></li>
        </ul>
    </nav>
    <div id='content'>
    {% block content %}
        <h1>Hi!</h1>
        This website is a per organization unofficial leaderboard for Google Code-In 2014. Click on your organization above.
        <br>
        Enjoy!
        <hr/>
        <i>Code available on GPLv3 license. Feel free to <a href="https://github.com/ignaciouy/GCILeaderboard">fork it</a>!</i><br/>
    {% endblock %}
    </div>
    {% if request.path != "/" %}
    <footer style="margin: 5% 5%; font-size: 12px;" >
    <br/>
    <hr/>
    Created with love for Google Code-In
    <div style="float: right">
    <a href="#" title="Scroll up to top" class="scrollUpButton"><b>Scroll to up</b></a>
    {% if request.path == '/error' %}
    <br>
    404.html template from <a href='https://github.com/poxip/yagcil'>poxip gcil</a>
    {% endif %}
    <br>
    <a href="https://sugarlabs.org">Hosted by <img alt="Sugar Labs" src="/static/sl_logo.svg" height="32px"/></a>
    </div>
    <br/>
    Code available on GPLv3 License
    <br/>
    <a target="_blank" href="https://github.com/ignaciouy/GCILeaderboard/issues/new" title="Create new issue report">Create issue report</a>
    </footer>
    {% endif %}
</body>
</html>
