{% extends "index.html" %}

{% block title %}{{ org }}'s ranking{% endblock %}

{% block desc %}See {{ org }}'s ranking on Google Code-In Leaderboard{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Leaderboard for {{ org }}<br><small>{{ students }} students has finished {{ total }} tasks.</small></h1>
</div>

<div class="list-group" style="margin-top:5%;">
{% for tup in leaderboard %}
        <a class="list-group-item list-group-item-info" title="See profile of {{ tup[0] }} in {{ org }}" href="{{ url_for('student', name=tup[0], e=tup[1], org=org) }}">{{ tup[0] }} <span class="badge">{{ tup[1] }}</span></a>
{% endfor %}
</div>
{% endblock %}
